html, body {
    height: 100%;
}
div#glpheader {
    background-color: #FFFFFF;
    height: 111px;
}
div#glplogo {
    position: relative;
    float:left;
    margin: 30px 0px 0px 214px;
    background-image: url(/img/site/glplogo.gif);
    background-repeat: no-repeat;
    width: 214px;
    height:70px;
}
div#sektion {
    position: relative;
    float:left;
    margin: 85px 0px 0px 15px;
    width:115px;
    white-space:nowrap;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}
div#topmenu {
    z-index: 2;
    width: 100%;
    height: 26px;
    background-color:#EEE;
}
div#socialmedia {
    position:absolute;
    top:15px;
    right:50px;
}
div#socialmedia div#facebook {
    padding: 0px 16px 0px 0px;
    float:left;
}
div#socialmedia div#fbpage {
    display:none;
    padding:0px 0px 0px 1px;
}
div#socialmedia div#fblike:hover + div#fbpage {
    display:block;
}
div#socialmedia div#fbpage:hover {
    display:block;
}
div#socialmedia div#gplusone {
    float:left;
    heigt:21px;
    padding:2px 0px 0px 0px;
}
div#socialmedia div#twitter {
    float:left;
}
div#topmenu ul {
    list-style-type:none;
    margin: 0px;
    padding: 6px 0px 0px 444px;
}
div#topmenu li {
    display:inline;
    padding-right: 5px;
}

div#firstpicturebar {
    height: 104px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}
div#firstpicturebarpic {
    position:relative;
    float:left;
    height: 104px;
    width: 429px;
    background-color: #FFFFFF;
    background-image: url(/img/site/grosshome.jpg);
    background-repeat: no-repeat;
}
div#firstpicturebartext {
    position:relative;
    float:left;
    left:14px;
    top:60px;
    height: 30px;
    width: 230px;
    background-color: #FFFFFF;
    background-image: url(/img/site/jetzt_aber_auch_morgen.gif);
    background-repeat: no-repeat;
}
div#secondpicturebar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    background-image: url("/img/site/bandhome.jpg");
    background-repeat: no-repeat;
    background-position: right center;
}
div#rightbar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 112px;
    height: 283px;
    background:#B5DB12;
}
div#colmask {
    position:relative;
    clear:both;
    float:left;
    width:100%;             /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
    background:#B5DB12;        /* Right column background colour */
}
div#colmid {
    float: left;
    width: 200%;
    margin-left: -112px;
    position: relative;
    right: 100%;
    background: white;
}
div#colleft {
    float: left;
    width: 100%;
    margin-left: -50%;
    position: relative;
    left: 540px;
    background:#B5DB12;        /* Right column background colour */
}
div#colleftleft {
    float: left;
    width: 100%;
    margin-left: 0%;
    position: relative;
    right: 214px;
    background: #FFFFFF;
}
div#contentwrap {
    float:left;
    width:50%;
    position:relative;
    right:188px;            /* Width of left column */
    padding-bottom:1em;     /* Centre column bottom padding. Leave it out if it's zero */
}
div#content {
    margin-right: 150px;
    margin-left: 420px;
    position:relative;
    left:200%;
}
div#content td  {
    padding-right:10px;
}
div#leftmenuwrap {
    float:right;            /* This overrides the float:left above */
    width:151px;            /* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:-180px;             /* Width of the left-had side padding on the left column */
    overflow: hidden;
}
div#photocolumnwrap {
    float:right;            /* This overrides the float:left above */
    width:214px;            /* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:-214px;             /* Width of the left-had side padding on the left column */
    overflow: hidden;
}
div#photocolumn {
    width:214px;
    min-height:50px;
}
div#footerkontakt {
    position:absolute;
    right:0px;
    bottom:15px;
    width:111px;
}
div#footerkontakt > div {
    padding-left:5px;
}
div#feed {
   float: right;
   padding-top:10px;
}
.newslink {
    padding-right: 5px;
} 
.hidden {
    background: transparent;
    background-color:white;
    background-image: none;
    border: none;
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position:absolute;
    top:-200px;
    left:-200px;    
    width: 1px;
} 
